html {
    margin: 0 auto;
}

body {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -webkit-overflow-y: scroll;
    overflow-y: scroll;
}

.outer {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    background-color: #EFDCD9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    box-sizing: border-box;
    overflow-y: hidden;
    max-width: 80vw;
    max-height: 80vh;
    min-height: 890px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    display: none;
    color: white;
    background-color: #66B9Bf;
    font-family: 'Raleway', sans;
    font-size: 7rem;
    font-weight: 100;
    padding: 20px;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dogImage {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.losange, .losange div {
  margin: 30px auto 50px auto;
  background-color: pink;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 5px solid white;
  transform: rotate(45deg) translateY(10px) translateX(10px);

}

.losange .los1 {
  width: 255px;
  height: 255px;
  transform: rotate(-45deg) translateY(-83px);
}
.losange .los1 img {
  width: 100%;
  height: auto;
}

.dogImage p {
    display: none;
}

.desktopDog1, .desktopDog2 {
}

.main-app {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.city-form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin: 40px 0 40px 0;
}

.get-weather-button {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: white;
    background-color: #66B9Bf;
    width: 100%;
    border: none;
    outline: 0;
}

.get-weather-button:active {
    transform: translate(4px, 4px);
}

.city-input {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: #07889B;
    background-color: white;
    text-align: center;
    padding: 0;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    outline: 0;
}

.loader {
    margin-top: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    color: #07889B;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.loader.active {
    opacity: 1;
}

.city-weather {
    font-size: 2.3rem;
    text-align: center;
    color: #07889B;
    width: 80%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@keyframes flickerAnimation {
  0%   { opacity:0.8; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0.8; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0.8; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0.8; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
.animate-flicker.active {
   -webkit-animation: flickerAnimation 3s infinite;
   -moz-animation: flickerAnimation 3s infinite;
   -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
}
@media only screen and (min-width: 1020px) {

    body {
        overflow-x: hidden;
        -webkit-overflow-x: hidden;
        -webkit-overflow-y: hidden;
        overflow-y: hidden;
    }
    
    .outer {
        /*height: 100vh;*/
        margin: 0;
        padding: 20px;
        overflow-x: hidden;
        -webkit-overflow-x: hidden;
        -webkit-overflow-y: hidden;
        overflow-y: hidden;
        width: 100vw;
        padding: 0;
        background: linear-gradient(
        rgba(255, 182, 193, 1), 
        rgba(255, 182, 193, 0.5)
        ),
        url(imgs/sea-sky-clouds-weather.jpg);

    }
    .wrapper {
        height: 100vh;
        background-color: rgba(255,255,255,0.2);
    }
    
    .body {
        width: 100vw;
        padding: 0;
        background: linear-gradient(
        rgba(255, 182, 193, 1), 
        rgba(255, 182, 193, 0.5)
        ),
        url(imgs/sea-sky-clouds-weather.jpg);
    }

    h1 {
        display: block;
        font-size: 3rem;
    }

    #app {
        height: auto;
        max-height: unset;
        padding: 0 0 100px 0;
    }

    .city-input {
        font-size: 2rem;
    }

    .get-weather-button  {
        font-size: 2rem;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .city-weather {
        font-size: 1rem;
        max-height: 300px;
        height: auto;
        margin-bottom: 0;
    }

    .loader {
        font-size: 2rem;
    }
    
   }